@{
    ViewBag.Title = "About";
}


<h3>@ViewBag.Title.</h3>
    

<article style="background:#ecf0f1; border-radius:10px;">
    <div style="margin-top: 45px; margin-left: 65px;">
        <iframe width="540" height="310" src="http://www.wideo.co/embed/750981382581793448?height=282&width=500" frameborder="0" allowfullscreen ></iframe>
    </div>
     <p style="padding-left: 20px; padding-right:20px;">
            Hello we are Prospect Tutoring is a service fully
            dedicated to provide you with excellent services.
            We are here to help you find expert tutors at affordable price.
            As well as to give you an opportunity to gain some experience
            in the field of teaching by becoming a tutor. It could be your
            opportunity to make some extra money if you are qualified.
            Join us and utilize this opportunity for your benefit.

    </p>
    
</article>

<aside>
    <div style="background:#ecf0f1; height: 200px; border-radius:10px; width: 260px; padding-left: 20px; padding-right: 20px;">
    <h3>Contact Us</h3>
    <p>
       Address: 1234 Nedderman Arlington, TX 76015
       Phone Number: 817-555-6568
    </p>
    </div>
</aside>