
<script>
    var geocoder;
    var map;
    function initialize() {
        geocoder = new google.maps.Geocoder();
        var latlng = new google.maps.LatLng(-34.397, 150.644);
        var mapOptions = {
            zoom: 8,
            center: latlng
        }
        map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
    }

    function codeAddress() {
        var address = document.getElementById("address").value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert("Geocode was not successful for the following reason: " + status);
            }
        });
    }
</script>

<body onload="initialize()">
 <div id="map-canvas" style="width: 320px; height: 480px;"></div>
  <div>
    <input id="address" type="textbox" value="Sydney, NSW">
    <input type="button" value="Encode" onclick="codeAddress()">
  </div>
</body>





@*@{
    ViewBag.Title = "About";
}


<h3>@ViewBag.Title.</h3>
    

<article style="background:#ecf0f1; border-radius:10px;">
    <div style="margin-top: 45px; margin-left: 65px;">
        <iframe width="540" height="310" src="http://www.wideo.co/embed/750981382581793448?height=282&width=500" frameborder="0" allowfullscreen ></iframe>
    </div>
     <p style="padding-left: 20px; padding-right:20px;">
            Hello we are Prospect Tutoring is a service fully
            dedicated to provide you with excellent services.
            We are here to help you find expert tutors at affordable price.
            As well as to give you an opportunity to gain some experience
            in the field of teaching by becoming a tutor. It could be your
            opportunity to make some extra money if you are qualified.
            Join us and utilize this opportunity for your benefit.

    </p>
    
</article>

<aside>
    <div style="background:#ecf0f1; height: 200px; border-radius:10px; width: 260px; padding-left: 20px; padding-right: 20px;">
    <h3>Contact Us</h3>
    <p>
       Address: 1234 Nedderman Arlington, TX 76015
       Phone Number: 817-555-6568
    </p>
    </div>
</aside>*@