@using Core.Domains;

@{
    ViewBag.Title = "Home Page";
}

<div style="width:1035px; height:380px; background-color:#bdc3c7; border-radius:10px; border-style:solid; border-color:#ecf0f1;">
    
    <div class="pagination" style="width:532px; padding-left: 20px;">
        <ul class="rslides">
            <li><img src="~/Images/oldersupplies.jpg" alt="school supplies"/></li>
            <li><img src="~/Images/learnblocks.jpg" alt="learn blocks" /></li>
            <li><img src="~/Images/scantronpenicl.jpg" alt="scantron pencil" /></li>
        </ul>
            
        
    </div>
    <div style="background-color:#ecf0f1; width: 450px; height:300px;border-radius:10px; margin:17px; float:right; text-align:center;">
            <br />
            <p>Some Text Here</p>
            <br />
            <p><strong>New to the site?</strong></p>
            <br />
            <p><strong>See how it works by clicking the link below</strong></p>
            <div id="videolink"><p><strong><u>Video</u></strong></p></div>
        </div>
 
</div>
<br />
<br />
<div id="videoDialogBox">
    
</div>


<div class="row">
    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image big-illustration" alt="Compass" src="~/Content/Flat-UI/images/icons/svg/compas.svg">
            <h5>Explore</h5>
            <p>Explore new opportunites by networking with some of the best teachers on the market.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image" alt="Infinity-Loop" src="~/Content/Flat-UI/images/icons/svg/loop.svg">
            <h5>Connect</h5>
            <p>Enroll in classes and connect with people that share the same interest as you.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image" alt="Pensils" src="~/Content/Flat-UI/images/icons/svg/pencils.svg">
            <h5>Learn</h5>
            <p>Learn a variety of handy skills from a vast pool of classes.</p>
         </div>
    </div>
</div>

<script>
    $(function () {
        $(".rslides").responsiveSlides({
            pager: true,
        });

        $('#videoDialogBox').dialog({
            title: "Video",
            height: 360,
            width: 580,
            modal: true,
            show: { effect: "fold" },
            autoOpen: false
        });

        $('#videolink').hover(function () {
            $('#videolink').css("cursor", "pointer");
        });

        $('#videolink').on('click', function () {
            $('#videoDialogBox').dialog("open");
            
        });
    });

</script>