@using Core.Domains;

@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Images/oldersupplies.jpg" alt="school supplies" width: "500px" />
</div>

<h2>We suggest the following:</h2>
<br />

<div class="row">
    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image big-illustration" alt="Compass" src="~/Content/Flat-UI/images/icons/svg/compas.svg">
            <h5>Getting Started</h5>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image" alt="Infinity-Loop" src="~/Content/Flat-UI/images/icons/svg/loop.svg">
            <h5>Add NuGet packages and jump-start your coding</h5>
            NuGet makes it easy to install and update free libraries and tools.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image" alt="Pensils" src="~/Content/Flat-UI/images/icons/svg/pencils.svg">
            <h5>Find Web Hosting</h5>
            You can easily find a web hosting company that offers the right mix of features
            and price for your applications.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
         </div>
    </div>
</div>

<script>
    

</script>