@using Core.Domains;
@using PTS.Models; 


@{
    ViewBag.Title = "Home Page";
}
<style>
    /*#ticker {
        height: 350px;
       overflow: hidden;
    }

        #ticker li {  
            display:block;
            height: 350px;
        }*/
    #ticker {
        width: 350px;
        height: 200px;
        overflow: hidden;
        border: 2px solid #34495e;
        border-radius: 5px;
        box-shadow: 0px 0px 5px #DDD;
        background-color: #F8F8F8;
        text-align: center;
        align-content: center;
        align-items: center;
        background-origin: content-box;
    }

        #ticker h7 {
            padding: 0 0 10px 10px;
            border-bottom: 1px solid #A7A7A7 ;
            font-style:italic;
        }
        #ticker li {
            list-style: none;
            margin-left:-40px;
            height:200px;
            border-bottom: 1px solid #D6CFB8;
        }
    
</style>

<div style="width:1035px; height:380px; background-color:#bdc3c7; border-radius:10px; border-style:solid; border-color:#ecf0f1;">
    
    <div class="pagination" style="width:532px; padding-left: 20px;">
        <ul class="rslides">
            <li><img src="~/Images/oldersupplies.jpg" alt="school supplies"/></li>
            <li><img src="~/Images/learnblocks.jpg" alt="learn blocks" /></li>
            <li><img src="~/Images/scantronpenicl.jpg" alt="scantron pencil" /></li>
        </ul>
            
        
    </div>
    <div  style="background-color:#ecf0f1; width: 450px; height:300px;border-radius:10px; margin:17px; float:right; text-align:center;">
        <h4>Check out our featured tutors!</h4>
        <div style=" margin-left:50px">
            
            <ul id="ticker" class="radslides"></ul>
        </div>
    </div>
 
</div>
<br />
    



<div class="row">
    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image big-illustration" alt="Compass" src="~/Content/Flat-UI/images/icons/svg/compas.svg">
            <h5>Explore</h5>
            <p>Explore new opportunites with some of the best teachers on the market.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image" alt="Infinity-Loop" src="~/Content/Flat-UI/images/icons/svg/loop.svg">
            <h5>Connect</h5>
            <p>Enroll in classes and connect with people that share the same interest as you.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image" alt="Pensils" src="~/Content/Flat-UI/images/icons/svg/pencils.svg">
            <h5>Learn</h5>
            <p>Learn a variety of handy skills from a vast pool of classes.</p>
         </div>
    </div>
</div>



<script>
    

    $(document).ready(function(){

        
        //--data.Results[1].TutorName
        $.ajax({
            url: '@Url.Action("GetRandomTeachers")',
            type: 'POST',
            success: function (data) {
                
                for (var i in data.Results) {
                    var teacherId = data.Results[i].TutorID;
                    var link = '<a href="@Url.Action("Index", "Search")?teacherId=' + data.Results[i].TutorID + '">'+data.Results[i].TutorName+'</a>';
                    
                    var name = data.Results[i].TutorName;
                    $('#ticker').append('<li>'
                        +'<h5>' + link +'</h5>'
                        + '<h6>Rating:   ' + data.Results[i].Rating + '/10</h6>'
                        + '<h7>Review:   ' + data.Results[i].Review + '</h7><br/><br/>'
                        + '</li>')
                }

            },
            
        });

    })

    function tick() {
        $('#ticker li:first').animate({ 'opacity': 0 }, 200, function () { $(this).appendTo($('#ticker')).css('opacity', 1); });
    }
    setInterval(function () { tick() }, 4000);


    $(function () {
        $(".rslides").responsiveSlides({
            pager: true,
        });

    });
    



</script>