@using Core.Domains;

@{
    ViewBag.Title = "Home Page";
}

<div style="width:1035px; height:380px; background-color:#bdc3c7; border-radius:10px; border-style:solid; border-color:#ecf0f1;">
    
    <div class="pagination" style="width:532px; padding-left: 20px;">
        <ul class="rslides">
            <li><img src="~/Images/oldersupplies.jpg" alt="school supplies"/></li>
            <li><img src="~/Images/learnblocks.jpg" alt="learn blocks" /></li>
            <li><img src="~/Images/scantronpenicl.jpg" alt="scantron pencil" /></li>
        </ul>
            
        
    </div>
    <div style="background-color:#ecf0f1; width: 450px; height:300px;border-radius:10px; margin:17px; float:right; text-align:center;">
            <br />
            <p>Some Text Here</p>
            <br />
            <p><strong>New to the site?</strong></p>
            <br />
            <p><strong>See how it works by clicking the link below</strong></p>
            <div id="videolink"><p><strong><u>Video</u></strong></p></div>
        </div>
 
</div>
<br />
<br />
<div id="videoDialogBox">
    <iframe width="540" height="310" src="http://www.wideo.co/embed/750981382581793448?height=282&width=500" frameborder="0" allowfullscreen ></iframe>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image big-illustration" alt="Compass" src="~/Content/Flat-UI/images/icons/svg/compas.svg">
            <h5>Getting Started</h5>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image" alt="Infinity-Loop" src="~/Content/Flat-UI/images/icons/svg/loop.svg">
            <h5>Add NuGet packages and jump-start your coding</h5>
            NuGet makes it easy to install and update free libraries and tools.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
        </div>
    </div>

    <div class="col-md-4">
        <div class="tile">
            <img class="tile-image" alt="Pensils" src="~/Content/Flat-UI/images/icons/svg/pencils.svg">
            <h5>Find Web Hosting</h5>
            You can easily find a web hosting company that offers the right mix of features
            and price for your applications.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
         </div>
    </div>
</div>

<script>
    $(function () {
        $(".rslides").responsiveSlides({
            pager: true,
        });

        $('#videoDialogBox').dialog({
            title: "Video",
            height: 360,
            width: 580,
            modal: true,
            show: { effect: "fold" },
            autoOpen: false
        });

        $('#videolink').hover(function () {
            $('#videolink').css("cursor", "pointer");
        });

        $('#videolink').on('click', function () {
            $('#videoDialogBox').dialog("open");
            
        });
    });

</script>