@{
    ViewBag.Title = "ReviewTutor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>ReviewTutor</h3>
<div id="TutorsToReviewTable"></div>
<script>
    $(document).ready(function () {
        $('#TutorsToReviewTable').jtable({
            title: 'Tutors to Review',

            actions: {
                listAction: '@Url.Action("GetTutorsToReview")',
                updateAction: '@Url.Action("AddUpdateTutorsToReview")',
            },
            fields: {
                StudentID: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false,
                },
                TeacherID: {
                    list: false,
                    create: false,
                    edit: true,
                    type: 'hidden',
                },
                TutorName:{
                    title: 'Tutor',
                    edit: false,
                },
                Date: {
                    title: 'Date',
                    type: 'date',
                    edit: false,
                },
                Rating: {
                    title: 'Rating',
                    options: { '1': '1', '2': '2', '3': '3', '4': '4', '5': '5', '6':'6', '7':'7', '8':'8','9':'9','10':'10' }
                },
                Comment: {
                    title: 'Comment',
                    type:'textarea'
                }

            }
        });
        $('#TutorsToReviewTable').jtable('load');
    })
    //$('#EditDialogSaveButton').on('click', function ()
    //{
    //    $('#Edit-Rating').val()
    //})

</script>