@{
    ViewBag.Title = "DisplayClasses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Classes</h2>
<div id="TeacherClassesDisplayTable"></div>
<br/>
<div id="StudentClassesDisplayTable"></div>


<script >
    $(document).ready(function () {
        
        $('#TeacherClassesDisplayTable').jtable({
            title: 'Teacher Classes',

            actions: {
                listAction: '@Url.Action("GetClassesToDisplay")',
                @*updateAction: '@Url.Action("AddUpdateClassesToReview")',*@
            },
            fields: {
                ClassID: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false,
                },
                Description: {

                    title: 'Class',
                    edit: false,
                },
                StartTime: {
                    title: 'Start Time',
                },
                EndTime:{
                    title: 'End Time',
                },
                Duration:{
                    title:'Duration'
                },
                DateStart:{
                    title: 'Start Date',
                    type: 'date'
                },
                DateEnd: {
                    title: 'End Date',
                    type:'date'
                },
                Address: {
                    title:'Address'
                },
                City: {
                    title:'City'
                },
                State:{
                    title:'State'
                },
                ZipCode: {
                    title:'Zip'
                }
            }
        });
        $('#TeacherClassesDisplayTable').jtable('load');


        $('#StudentClassesDisplayTable').jtable({
            title: 'Student Classes',

            actions: {
                listAction: '@Url.Action("GetStudentClassesToDisplay")',
                @*updateAction: '@Url.Action("AddUpdateClassesToReview")',*@
            },
                fields: {
                    ClassID: {
                        key: true,
                        list: false,
                        create: false,
                        edit: false,
                    },
                    Description: {

                        title: 'Class',
                        edit: false,
                    },
                    StartTime: {
                        title: 'Start Time',
                    },
                    EndTime:{
                        title: 'End Time',
                    },
                    Duration:{
                        title:'Duration'
                    },
                    DateStart:{
                        title: 'Start Date',
                        type: 'date'
                    },
                    DateEnd: {
                        title: 'End Date',
                        type:'date'
                    },
                    Address: {
                        title:'Address'
                    },
                    City: {
                        title:'City'
                    },
                    State:{
                        title:'State'
                    },
                    ZipCode: {
                        title:'Zip'
                    }
                }
            });
        $('#StudentClassesDisplayTable').jtable('load');


    })
</script>