@using Core.Domains;
@model List<Class>


<h2>Classes Map</h2>


<div id="map" style="width: 850px; height: 600px; margin-left: 95px; border-radius:10px;"></div>

  <script type="text/javascript">
    var locations = [
          @foreach(var item in Model){
          <text>

          ['@(item.Description)', @(item.Location.Latitude), @(item.Location.Longitude)],
          </text>
      }
    ];
      console.log(locations);
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: new google.maps.LatLng(37.0378, -95),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>