
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="row">
    <div class="form-group">
        <div class="col-md-4">
            <input id="globalSearch" class="form-control" style="font-size: 20px;"/>
        </div>
        <div class="col-md-2">
            <button id="globalSearchButton" class="btn btn-info" float: right>Search</button>
        </div>
    </div>
</div>
<br />
<div id="teacherUserTable"></div>
<br />
<br />
<div id="classesTable"></div>


<script>
    $(document).ready(function () {
        $('#teacherUserTable').jtable({
            title: 'Teachers',
            
            actions: {
                listAction: '@Url.Action("GetTeacherUsers")',
                createAction: '@Url.Action("CreateTeacherUser")',
            },
            fields: {
                Id: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false,
                },
                FirstName: {
                    title: 'First Name',
                },
                LastName: {
                    title: 'Last Name'
                },
                Email: {
                    title: 'Email',
                },
                ClassRate: {
                    title: 'Class Rate'
                },
                HourlyRate: {
                    title: 'Hourly Rate'
                }
            }
        });

        $('#teacherUserTable').jtable('load');

        $('#classesTable').jtable({
            title: 'Classes',

            actions: {
                listAction: '@Url.Action("GetClasses")',
            },
            fields: {
                Id: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false,
                },
                SubjectId: {
                    list: false,
                    create: false,
                    edit: false,
                },
                Location: {
                    title: 'Location',
                },
                Description: {
                    title: 'Description',
                },
                StartTime: {
                    title: 'Start Time',
                    type: 'date',
                },
                EndTime: {
                    title: 'End Time',
                    type: 'date',
                },
                Duration: {
                    title: 'Duration',
                    type: 'date',
                },

            },
        });

        $('#classesTable').jtable('load');

    });
</script>