@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="form-group">
        <div class="col-md-4">
            <input id="globalSearch" class="form-control" style="font-size: 20px;"/>
        </div>
        <div class="col-md-2">
            <button id="globalSearchButton" class="btn btn-info" float: right>Search</button>
        </div>
    </div>
</div>

<div id="teacherUserTable"></div>

<script>
    $(document).ready(function () {
        $('#teacherUserTable').jtable({
            title: 'Teachers',
            actions: {
                listAction: '@Url.Action("GetTeacherUsers")',
            },
            fields: {
                Id: {
                    key: true,
                },
                FirstName: {
                    title: 'First Name'
                },
            }
        });

        $('#teacherUserTable').jtable('load');

    });
</script>