@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="form-group">
        <div class="col-md-4">
            <input id="globalSearch" class="form-control" style="font-size: 20px;"/>
        </div>
        <div class="col-md-2">
            <button id="globalSearchButton" class="btn btn-info" float: right>Search</button>
        </div>
    </div>
</div>