@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
   
     <div class="form-group">
        <div class="col-md-4">
            <input id="globalSearch" class="form-control" style="font-size: 20px;"/>
        </div>
        <div class="col-md-2">
            <button id="globalSearchButton" class="btn btn-primary" float: right>Search</button>
        </div>
    </div>
</div>
<br />
<div id="teacherUserTable"></div>
<br />
<br />
<div id="classesTable"></div>


<script>
    $(document).ready(function () {
        $('#globalSearchButton').on('click', function (event) {
            $('#teacherUserTable').jtable('load', JSON.stringify({
                textSearch: $('#globalSearch').val()
            }));
            $('#classesTable').jtable('load', JSON.stringify({
                textSearch: $('#globalSearch').val()
            }));
        });
        $('#globalSearch').keypress(function (e) {
           if (e.which == 13) {
               $('#globalSearchButton').focus().click();
            }
        });

        $('#teacherUserTable').jtable({
            title: 'Tutors',
            ajaxSettings: {
                contentType: 'application/json'
        	},
            actions: {
                listAction: '@Url.Action("GetTeacherUsers")',
                createAction: '@Url.Action("CreateTeacherUser")',
            },
            fields: {
                Id: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false,
                },
                FirstName: {
                    title: 'First Name',
                },
                LastName: {
                    title: 'Last Name'
                },
                Email: {
                    title: 'Email',
                },
                ClassRate: {
                    title: 'Class Rate'
                },
                HourlyRate: {
                    title: 'Hourly Rate'
                }
            }
        });

        $('#teacherUserTable').jtable('load');

        $('#classesTable').jtable({
            title: 'Classes',
            ajaxSettings: {
                contentType: 'application/json'
            },
            actions: {
                listAction: '@Url.Action("GetClasses")',
            },
            fields: {
                Id: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false,
                },
                SubjectId: {
                    list: false,
                    create: false,
                    edit: false,
                },
                LocationId: {
                    list: false,
                    create: false,
                    edit: false,
                },
                Description: {
                    title: 'Description',
                },
                StartTime: {
                    title: 'Start Time',
                },
                EndTime: {
                    title: 'End Time',
                },
                Duration: {
                    title: 'Duration',
                },
                Address: {
                    title: 'Address'
                },
                City: {
                    title: 'City'
                },
                State: {
                    title: 'State'
                },
                ZipCode: {
                    title: 'Zip Code'
                },
                Country: {
                    title: 'Country'
                }

            },
        });

        $('#classesTable').jtable('load');

    });
</script>