@if (Request.IsAuthenticated) {
    <h6>
        Hello, @Html.ActionLink(User.Identity.Name, "ManageAccount", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </h6>
} else {
    <ul class="navbar">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style="background-color:#ecf0f1; color:#34495E; font-weight: bold;"})</li>
        |
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", style="background-color:#ecf0f1; color:#34495E; font-weight: bold;"})</li>
    </ul>
}

<script>
    $(document).ready(function () {
        $('#registerLink').hover(
            function () { $('#registerLink').css("color", "#16A085"); },
            function () { $('#registerLink').css("color", "#34495E"); });

        $('#loginLink').hover(
            function () { $('#loginLink').css("color", "#16A085"); },
            function () { $('#loginLink').css("color", "#34495E"); });
    });
</script>
